@page "/products"
@page "/produkty"
@inject NavigationManager NavigationManager



<h3>Product List</h3>

@if (products == null)
{
    <LoadingComponent Message="Loading products...">
        <p>Lorem ipsum</p>
    </LoadingComponent>
}
else
{
    <TableTemplate Items="products">
        <HeaderTemplate>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </HeaderTemplate>

        @*  <RowTemplate>
    <td>@context.Name</td>
    <td>@context.Description</td>
    <td>@context.Price</td>
    </RowTemplate>
    *@
        <RowTemplate Context="product">
            <td>
                @*  <button @onclick="()=>Edit(product.Id)" class="btn-link">
            @product.Name
            </button>*@

                <NavLink href=@($"/products/edit/{product.Id}")> @product.Name</NavLink>

            </td>
            <td>@product.Description</td>
            <td>@product.Price</td>
        </RowTemplate>
    </TableTemplate>
}
